/* Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e9e9e9;
}

h1 {
    display: inline;
    vertical-align: middle;
    font-weight: 900;
}

h2 {
    display: inline;
    vertical-align: middle;
    font-size: 18px;
}

h3 {
    display: inline;
    vertical-align: middle;
    font-size: 16px;
    font-weight: normal;
}

/* Utilities */
.container {
    max-width: 680px;
    margin: 0 auto;
}

/*===================================================*/
/* Header */
#main-header {
    padding: 10px 15px;
    background-color: #fff;
}

#logo {
    vertical-align: middle;
}

/* Button */
.btn {
    background-color: #1e90ff;
    color: #fff;
    border: 1px solid #1e90ff;
    border-radius: 4px;
    padding: 4px 8px;
}

.btn.btn-secondary {
    background-color: #fff;
    color: #8f8f8f;
    border: 1px solid #8f8f8f;
}

/* Card */
.card {
    background-color: #fff;
    border-radius: 4px;
    margin-top: 24px;
    margin-bottom: 48px;
}

.card-header {
    padding: 8px 20px;
    border-bottom: 1px solid #e9e9e9;
}

.card-body {
    margin-top: 28px;
    padding: 0 20px;
}

/* Task lists */
.task-list {
    list-style-type: none;
    margin-bottom: 24px;
}

.task-header,
.task-item {
    padding: 10px 0;
}

.task-header-icon {
    font-size: 10px;
    vertical-align: middle;
}

/* Check mark */
.task-check {
    display: inline-block;
    font-size: 10px;
    vertical-align: middle;
    text-align: center;
    border: 1px solid #8f8f8f;
    border-radius: 50%;
    width: 16px;
    height: 16px;
}

.task-check.task-checked {
    color: #5dae5d;
    border-color: #5dae5d;
}

.task-check.task-unchecked {
    color: #ff4242;
    border-color: #ff4242;
}

/* Tags */
.tag {
    background-color: #000;
    color: #fff;
    border-radius: 40px;
    font-size: 12px;
    vertical-align: middle;
    padding: 4px 8px;
}

.tag.tag-cyan {
    background-color: #45abea;
}

.tag.tag-purple {
    background-color: #9c72e4;
}

.tag.tag-teal {
    background-color: #64c0a9;
}

.tag.tag-orange {
    background-color: #f29e33;
}

.tag.tag-pink {
    background-color: #d863a1;
}

.tag.tag-lime {
    background-color: #b0c926;
}

