/* Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    display: inline;
    vertical-align: middle;
    font-weight: 900;
}

/* Utilities */
.container {
    max-width: 1080px;
    margin: 0 auto;
}

/* Header */
#main-header {
    padding: 10px 15px;
}

#logo {
    vertical-align: middle;
}